@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.channels {

  &-container {
    background-image: url('../../../assets/images/Сгруппировать\ 6458.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 1200px) {
      margin-top: 8.39%;

    }
  }

  .title {
    color: $black-text;
    @include adaptiv-font(76, 30);
    text-align: center;
  }

  .live-stream-text {
    color: $light-red;
    position: absolute;
    top: -61px;
    @include adaptiv-font(43, 20);
    margin-top: 10px;

    p {
      margin-bottom: 0;
    }
  }


  .bg-TV-img {
    background-image: url('../../../assets/images/Channels/transparent-TV.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 38.1vw;
    margin: 0 10px;

    @media screen and (max-width: 1200px) {
      height: 70vw;
    }
  }

  .red-line-img {
    width: 100%;
    position: relative;

    @media screen and (max-width: 1200px) {
      width: 80%;
      height: 60vw;
    }
  }

  .my-list-btn {
    position: absolute;
    top: 30%;
    background-color: $white;
    border: 5px solid $light-red;
    color: $light-red;
    border-radius: 50%;
    @include adaptiv-font(47, 25);
    /* for centering button*/
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 4.6rem 2.1rem !important;

    @media screen and (max-width: 992px) {
      padding: 3.1rem 1.4rem !important
    }

    @media screen and (max-width: 400px) {
      top: 12%;
    }
  }

  .player-section {
    margin: 45px 0;
  }

  .player {
    position: absolute;
    top: 12%;
    left: 8%;
    border-radius: 37px;
    height: 27.71vw;
    width: 38.6vw;
    min-width: 203px;
    min-height: 147px;

    @media screen and (max-width: 1200px) {
      height: 43.71vw;
      width: 63.6vw;
    }

    @media screen and (max-width: 576px) {
      height: 44.71vw;
      width: 66.6vw;
      top: 13%;
      border-radius: 22px;
    }

    @media screen and (max-width: 426px) {
      top: 10%;
    }
  }


}

:host ::ng-deep .header {

  .bg-dark {
    background-color: $white !important;
  }

  &-profile-img {
    background-image: url('../../../assets/images/Сгруппировать\ 3394.png') !important;
  }

  .nav-link {
    color: $header-black-text;

    &:hover,
    &:focus {
      color: $header-black-text;
    }

    &-active {
      border-bottom: 3px solid #E22727 !important;
    }
  }

  .triangle-container {
    background-image: url("../../../assets/images/Контур\ 35561.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 153px;
    width: 127px;
    position: relative;
    top: 0;
    left: 0;
    margin-top: -26px;

    @media screen and (max-width: 1200px) {
      height: 75px;
      width: 75px;
      position: absolute;
      margin-left: 45px;
      margin-top: 0;
    }

    img {
      position: absolute;
      top: 16%;
      left: 12%;
    }
  }

  &-search-btn {
    color: $black !important;
  }

  .collapse {
    align-items: flex-start;
  }

  .nav-second-part {
    top: 4%;
  }

  .searchbox__icon {
    color: $black !important;
  }
}
