@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.channels {

  margin-top: 8.39%;


  &-container {
    background-image: url('../../../assets/images/Сгруппировать\ 6458.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  .title {
    color: $black-text;
    @include adaptiv-font(76, 30);
    text-align: center;
  }

  .live-stream-text {
    color: $light-red;
    position: absolute;
    top: -61px;
    @include adaptiv-font(43, 20);
    margin-top: 10px;

    p {
      margin-bottom: 0;

    }
  }


  .bg-TV-img {
    background-image: url('../../../assets/images/Channels/transparent-TV.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 38.1vw;
    margin: 0 10px;

    @media screen and (max-width: 1200px) {
      height: 70vw;
    }

  }

  .red-line-img {
    width: 100%;
    position: relative;

    @media screen and (max-width: 1200px) {
      width: 80%;
      height: 60vw;
    }
  }

  .my-list-btn {
    position: absolute;
    top: 30%;
    background-color: $white;
    border: 5px solid $light-red;
    color: $light-red;
    border-radius: 50%;
    @include adaptiv-font(47, 25);
    /* for centering button*/
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 4.6rem 2.1rem !important;

    @media screen and (max-width: 992px) {
      padding: 3.1rem 1.4rem !important
    }

    @media screen and (max-width: 400px) {
      top: 12%;
    }
  }

  .player-section {
    margin: 45px 0;
  }

  .player {
    position: absolute;
    top: 12%;
    left: 8%;
    border-radius: 37px;
    height: 27.71vw;
    width: 38.6vw;
    min-width: 203px;
    min-height: 147px;

    @media screen and (max-width: 1200px) {
      height: 43.71vw;
      width: 63.6vw;
    }

    @media screen and (max-width: 576px) {
      height: 44.71vw;
      width: 66.6vw;
      top: 13%;
      border-radius: 22px;
    }

    @media screen and (max-width: 426px) {
      top: 10%;
    }
  }


}

:host ::ng-deep .header .bg-dark {
  background-color: $white !important;
}

:host ::ng-deep .header .nav-link {
  color: $header-black-text;

  &:hover,
  &:focus {
    color: $header-black-text;
  }
}

:host ::ng-deep .header .nav-item {
  &:hover {
    border-bottom: 3px solid $light-red !important;
  }

}


:host ::ng-deep .triangle-container {
  position: relative;
  width: 6.35em;
  height: 5.35em;
  background: white;
  box-shadow: 0 .1em 1em rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  margin-top: -18px;

  @media screen and (max-width: 1200px) {
    width: 4em;
    height: 4em;
  }

}

:host ::ng-deep .logo-traingle {
  position: absolute;
  top: 40%;
  left: 16%;
  width: 2em;
  height: 2em;
  clip: rect(2.6em, 6em, 7em, -3em);

  @media screen and (max-width: 1200px) {
    top: 24%;
    left: 27%;
  }

  &:before {
    content: "";
    display: block;
    margin: -1em;
    height: 6.35em;
    width: 6.35em;
    background: white;
    box-shadow: 0.01em 0.01em 1em rgba(0, 0, 0, 0.1);
    transform: scale(0.8, 1) rotate(45deg);

    @media screen and (max-width: 1200px) {
      width: 4.35em;
      height: 5.35em;
    }
  }
}

:host ::ng-deep .logo {
  z-index: 100;
  padding: 30px 17px;
}

:host ::ng-deep .header .header-logo {
  @media screen and (max-width: 1200px) {
    img {
      width: 100% !important;
    }
  }
}
