<app-header></app-header>
<div class="channels">
    <div class="channels-container">
        <div class="title">
            <p>ՀԵՌՈՒՍԱՏԱԱԼԻՔՆԵՐ</p>
        </div>
        <div class="player-section row d-flex justify-content-center">
            <div class="bg-TV-img col-xl-7">
                <div class="live-stream-text">
                    <p>ՀԻՄԱ ԵԹԵՐՈՒՄ</p>
                </div>
                <vg-player class="player">
                    <video id="singleVideo" preload="auto" width='150' height='100' controls>
                        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                    </video>
                </vg-player>
            </div>

            <div class="col-xl-4 my-list d-flex justify-content-center">
                <img class="red-line-img" src="../../../assets/images/Channels/red-lines.png" alt="">
                <button  routerLink ="favourite" class="my-list-btn btn btn-click-style">ԻՄ ՑԱՆԿԸ</button>
            </div>
        </div>

        <app-channels-list></app-channels-list>


    </div>
</div>