@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.header {

  &-container {
    position: relative;
  }


  &-logo {
    margin: 12px 36px 30px 46px;
    cursor: pointer;

    @media screen and (max-width: 1200px) {
      margin: 0;

      img {
        width: 70%;
      }
    }
  }

  .navbar {
    padding: 0 !important;
  }


  // center nav-items in burger menu
  @media (max-width: 1200px) {
    .navbar .navbar-nav {
      display: flex;
      align-items: center;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
  }

  .collapse-block {
    display: flex;

    @media screen and (max-width: 1200px) {
      display: inline;
    }

  }

  .nav-link {
    @media screen and (max-width: 1200px) {
      color: $black;
    }
  }

  .nav-item {
    cursor: pointer;
    @include adaptiv-font(31, 20);


    @media screen and (max-width: 1200px) {
      width: 100%;
      background-color: $menu-gray;
      margin: 2px 0;
    }
  }

  .nav-link-active {
    border-bottom: 3px solid $white;

  }

  .bg-gray {
    @media screen and (max-width: 1200px) {
      background-color: $footer-gray;
      width: 25vw;
      min-width: 120px;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
    }
  }

  .nav-span {
    @media screen and (max-width: 1200px) {
      font-size: $fs28;
      color: $dark-red;
    }
  }

  .nav-collapse-container {
    @media screen and (max-width: 1200px) {
      background-color: $footer-gray;
    }
  }


  .register {
    margin-right: 56px;
    cursor: pointer;

    &-item {
      @media screen and (max-width: 1200px) {
        background-color: $white;
      }
    }


    &-link {
      @media screen and (max-width: 1200px) {
        color: $light-red;
      }
    }
  }


  &-profile-img {
    width: 6em;
    height: 4em;
    margin: 0 3.8%;
    background-image: url('../../../assets/images/4486.png');
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: 1200px) {
      width: 4em;
      height: 3em;
    }

    @media screen and (max-width: 576px) {
      width: 3em;
      height: 2em;
    }
  }



  .searchbox__input {
    @include adaptiv-font(20, 12);
  }

  .searchbox__icon {
    margin: 5px;
    @include adaptiv-font(35, 12);
    color: $white;
    cursor: pointer;

    @media screen and (max-width: 1200px) {
      color: $black;

    }
  }




  &-profile-btn {
    color: $dark-red;
    border-radius: 29px;
    text-align: center;
    cursor: pointer;
    @include adaptiv-font(32, 14);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 0.38em 1.33em;

    @media screen and (max-width: 1200px) {
      padding: .375rem .75rem;
    }
  }

  .nav-second-part {
    margin: 0;
    position: absolute;
    right: 0;

    @media screen and (max-width: 1200px) {
      top: 10%;
    }
  }

}


.red-input {
  background-color: transparent;
  border-color: transparent;

  &::placeholder {
    color: transparent;

  }

  &:focus {
    border-color: transparent;
    box-shadow: none;
  }

}
