<div class="header">
    <div class="d-flex justify-content-between  bg-dark">

        <nav class="navbar navbar-expand-xl navbar-dark">
            <div class="collapse-block" [ngClass]="{ 'bg-gray': navbarOpen }">
                <button class="navbar-btn" (click)="toggleNavbar()" class="navbar-toggler" type="button"
                    data-toggle="collapse">
                    <i class="fas fa-bars nav-span"></i>
                </button>
                <a *ngIf="!navbarOpen" class="navbar-brand header-logo">
                    <div class="triangle-container">
                        <img class="logo" routerLink="/" src="../../../assets/images/logo-small.png" alt="logo">
                        <div class="logo-traingle ">
                        </div>
                    </div>

                </a>
                <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item gray-item">
                            <a
                                routerLink="/"
                                routerLinkActive="nav-link-active"
                                class="nav-link"
                                [routerLinkActiveOptions]="{exact:true}" 
                            >Գլխավոր</a>
                        </li>
                        <li class="nav-item gray-item" *ngIf="isLoggedIn">
                            <a routerLink="/channels" routerLinkActive="nav-link-active"
                                class="nav-link">Հեռուստալիքներ</a>
                        </li>
                        <li class="nav-item gray-item" *ngIf="isLoggedIn">
                            <a class="nav-link" routerLink="/gallery" routerLinkActive="nav-link-active">Տեսադարան</a>
                        </li>
                        <li class="nav-item gray-item">
                            <a routerLink="/about" routerLinkActive="nav-link-active" class="nav-link">Մեր մասին</a>
                        </li>
                        <li class="nav-item gray-item">
                            <a routerLink="/contact" routerLinkActive="nav-link-active" class="nav-link">Կապ</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/questions" routerLinkActive="nav-link-active" class="nav-link">Հարցեր</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="nav-second-part">
            <form *ngIf="isLoggedIn" class="d-flex align-items-center">
                <i *ngIf="!searchOpen" class="fas fa-search header-search-btn" (click)="toggleSearch()"></i>
                <input *ngIf="searchOpen" class="form-control mr-sm-2 header-search-input" type="search"
                    placeholder="Search" aria-label="Search" [formControl]="searchText">
                <button routerLink="/profile/main" class="btn  my-2 my-sm-0 header-profile-btn" type="submit">Իմ հաշիվը</button>
                <div class="header-profile-img"></div>
                <!-- <img class="header-profile-img" src="../../../assets/images/Сгруппировать 3394.png" alt=""> -->
            </form>
        </div>

        <div class="register nav-second-part" *ngIf="!isLoggedIn">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item register-item">
                    <a routerLink="/register" class="nav-link register-link">Գրանցվել</a>
                </li>
            </ul>
        </div>
    </div>
</div>