@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.header {

  
  &-logo {
    margin: 12px 36px 30px 46px;
    cursor: pointer;

    img {
      // width: 100%;

    }

    @media screen and (max-width: 1200px) {
      margin: 0;

      img {
        width: 70%;
      }
    }
  }

  .navbar {
    padding: 0 !important;
  }


  // center nav-items in burger menu
  @media (max-width: 1200px) {
    .navbar .navbar-nav {
      display: flex;
      align-items: center;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
  }

  .collapse-block {
    display: flex;

    @media screen and (max-width: 1200px) {
      display: inline;
    }

  }

  .nav-link {
    @media screen and (max-width: 1200px) {
      color: $black;
    }
  }

  .nav-item {
    cursor: pointer;
    border-bottom: 3px solid transparent;
    @include adaptiv-font(31, 20);

    // &:hover {
    //   border-bottom: 3px solid $white;
    // }

    @media screen and (max-width: 1200px) {
      width: 100%;
      background-color: $menu-gray;
      margin: 2px 0;
    }
  }

  .bg-dark {
    // background-color: $dark-red !important;

    // @media screen and (max-width: 1200px) {
    //   background-color: $white !important;
    // }
  }

  .bg-gray {
    @media screen and (max-width: 1200px) {
      background-color: $footer-gray;
      width: 25vw;
      min-width: 120px;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
    }
  }

  .nav-span {
    @media screen and (max-width: 1200px) {
      font-size: $fs28;
      color: $dark-red;
    }
  }

  .nav-collapse-container {
    @media screen and (max-width: 1200px) {

      background-color: $footer-gray;
    }
  }


  .register {
    margin-right: 56px;
    cursor: pointer;

    &-item {
      @media screen and (max-width: 1200px) {
        background-color: $white;

        &:hover {
          border-bottom: 3px solid $black;
        }
      }
    }

    &-link {
      @media screen and (max-width: 1200px) {
        color: $light-red;
      }
    }
  }


  &-profile-img {
    width: 73px;
    height: 73px;
    margin: 0 6.8%;

    @media screen and (max-width: 1200px) {
      width: 30px;
      height: 30px;
      margin-right: 20px;

    }
  }

  &-search-btn {
    font-size: 31px;
    cursor: pointer;
    margin-right: 32.3px;
    @include adaptiv-font(31, 16);
    color: $white;


    @media screen and (max-width: 1200px) {
      color: $black;
      margin-right: 5px;
    }
  }

  &-search-input {}

  &-profile-btn {
    width: 203px;
    height: 73px;
    color: $dark-red;
    // background-color: $white;
    border-radius: 29px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    @include adaptiv-font(32, 16);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);


    @media screen and (max-width: 1200px) {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      width: 80%;
      height: 50px;
    }
  }

  .nav-second-part {
    margin-top: 17px;

    @media screen and (max-width: 575px) {
      margin: 3px;
    }
  }

}

// remove borders from router-links 
*[ng-reflect-router-link]:focus {
  outline: none;
}

