<div class="header">
    <div class="header-container  bg-dark ">
        <nav class="navbar navbar-expand-xl navbar-dark">
            <div class="collapse-block " [ngClass]="{ 'bg-gray': navbarOpen }">
                <button class="navbar-btn" (click)="toggleNavbar()" class="navbar-toggler" type="button"
                    data-toggle="collapse">
                    <i class="fas fa-bars nav-span"></i>
                </button>
                <a *ngIf="!navbarOpen" class="navbar-brand header-logo">
                    <div class="triangle-container">
                        <img class="logo" routerLink="/" src="../../../assets/images/logo-small.png" alt="logo">
                        <div class="logo-traingle ">
                        </div>
                    </div>
                </a>
                <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item gray-item">
                            <a routerLink="/" routerLinkActive="nav-link-active" class="nav-link"
                                [routerLinkActiveOptions]="{exact:true}">Գլխավոր</a>
                        </li>
                        <li class="nav-item gray-item" *ngIf="isLoggedIn">
                            <a routerLink="/channels" routerLinkActive="nav-link-active"
                                class="nav-link">Հեռուստալիքներ</a>
                        </li>
                        <li class="nav-item gray-item" *ngIf="isLoggedIn">
                            <a class="nav-link" routerLink="/gallery" routerLinkActive="nav-link-active">Տեսադարան</a>
                        </li>
                        <li class="nav-item gray-item">
                            <a routerLink="/about" routerLinkActive="nav-link-active" class="nav-link">Մեր մասին</a>
                        </li>
                        <li class="nav-item gray-item">
                            <a routerLink="/contact" routerLinkActive="nav-link-active" class="nav-link">Կապ</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/questions" routerLinkActive="nav-link-active" class="nav-link">Հարցեր</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div  *ngIf="isLoggedIn" class="nav-second-part d-flex align-items-center">

                <div [formGroup]= "searchTextGroup" [@showState]="stateName">
                    <input class="searchbox__input form-control input-group-lg" [ngClass]="{ 'red-input': !searchOpen }"
                        placeholder="Search..." [typeahead]="channels"  [isAnimated]="true"
                        typeaheadOptionField="name"
                        formControlName="searchText"
                        (typeaheadOnSelect)="onSelect($event)"
                    />
                </div>
                <i class="fas fa-search searchbox__icon" (click)="toggleSearch($event)"></i>
                <button routerLink="/profile/main" class="btn  my-2 my-sm-0 header-profile-btn" type="submit">Իմ
                    հաշիվը</button>
                <div class="header-profile-img"></div>
            </div>
        </nav>
        <div class="register nav-second-part d-flex align-items-center" *ngIf="!isLoggedIn">
            <div *ngIf="showLogin$ | async" class="nav-item register-item">
                <a routerLink="" class="nav-link register-link">Մուտք</a>
            </div>
            <div class="nav-item register-item">
                <a routerLink="/register" class="nav-link register-link">Գրանցվել</a>
            </div>
        </div>
    </div>
</div>