<div class="email">
    <div class="card email-container">
        <i class="fas fa-times-circle close-btn" (click)="close()"></i>
        <div class="main-content">
            <div class="title" >Փոխել Էլ․Հասցեն</div>
            <div class="msg">Փոխեք Ձեր Էլ Հասցեն, վերիֆիկացնելով այն ստացված կոդով</div>
            <div class="title-2">
                Ձեր Էլ․ Հասցեն
            </div>
            <div class="input-group">
                <input type="email" class="form-control login-form-input email-input"
                    formControlName="password" placeholder="Էլ․ հասցե">
            </div>
            <div class="text-center">
                <button class="btn submit-btn btn-click-style">Հաստատել Էլ․ Հասցեն</button>
            </div>
        </div>
    </div>
</div>