@import '../../../assets/styles/variables.scss';
@import "../../../assets/styles/mixins.scss";

.footer {
  width: 100%;

  &-container {
    background-color: $footer-gray;
    padding-top: 178px;
  }

  .info {
    height: 400px;
    background-color: $light-red;
    color: $white;
    font-family: 'BraindYerevan';
    padding: 2.67% 2.88% 2.67% 0;

    @media screen and (max-width: 500px) {
      width: 250px;
      height: 250px;
    }
    img {
      margin: 0 22px 0 43px;
      @media screen and (max-width: 500px) {
        width: 30px;
      }
    }

    .number {
      @include adaptiv-font(23, 15);
      letter-spacing: 0.95px;
    }

    .email {
      @include adaptiv-font(21, 10);
      letter-spacing: 1.05px;

    }

    .address {
      @include adaptiv-font(16, 10);
      letter-spacing: 0.8px;

    }

    .web-page {
      @include adaptiv-font(23, 12);
      letter-spacing: 1.15px;
    }
  }
  .map-img {
    margin-top: 30px;
    img{
      width: 100%;

      @media screen and (max-width: 500px) {
        width: 250px;
      }
    }
  }

  .call-icons-block {
    width: 351px;
    @media screen and (max-width: 500px) {
      width: 250px;
      margin: 30px auto 0 auto;
    }


  }

  .call-center-block {
    margin: 0 auto;
    width: 77%;
  }

  .call-center-number {
    color: $white-text2;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    @include adaptiv-font(28, 15);

  }

  .social-icons {
    color: $white;
    background-color: $light-red;
    padding: 0.98em 1.5em;
    margin-top: 28px;
    @include adaptiv-font(36, 25);
    @media screen and (max-width: 500px) {
      width: 250px;
    }


    i {
      cursor: pointer;
    }

  }

  .rights {
    margin: auto;
    width: 33%;
    letter-spacing: 0px;
    color: $white;
    opacity: 1;
    margin-top: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @include adaptiv-font(20, 9);
    min-width: 300px;

  }
}
