<footer class="footer">
    <div class="footer-container d-flex flex-column justify-content-end">
        <div class=" row d-flex justify-content-around align-items-end">
            <div class=" info d-flex flex-column  justify-content-between">
                <div class="d-flex">
                    <img src="../../../assets/images/Home page/Icons/Сгруппировать 2152.png" alt="mobile-icon">
                    <div class="number d-flex">
                        <div>
                            <span>Հեռ  : </span>
                        </div>
                        <div>
                            <span> 0312 3֊00֊00 <br /> 094 95-06-04</span>
                        </div>
                    </div>
                </div>
                <div class="email">
                    <img src="../../../assets/images/Home page/Icons/Сгруппировать 2153.png" alt="">
                    <span>Էլ փոստ։ info@deltatelecom.am</span>

                </div>
                <div class="d-flex">
                    <img src="../../../assets/images/Home page/Icons/Сгруппировать 2154.png" alt="map-marker-icon">
                    <div class="address">
                        <span>Կենտրոնական գրասենյակ Հասցե` Շիրակի մարզ, <br />
                            Ք. Գյումրի, Տիգրան Մեծ 2</span>
                    </div>
                </div>
                <div class="web-page">
                    <img src="../../../assets/images/Home page/Icons/Сгруппировать 2155.png" alt="">
                    <span>www.deltatelecom.am</span>
                </div>
            </div>
            <div class="map">
                <img class="map-img" src="../../../assets/images/Home page/6483.png" alt="">
                <img class="logo" src="../../../assets/images/logo-small.png" alt="">
            </div>
            <div class="call-icons-block">
                <div class="call-center-block">
                    <img src="../../../assets/images/Home page/Icons/Сгруппировать 2160.png" alt="">
                    <span class="call-center-number">+374 66 077 777</span>
                </div>
                <div class="social-icons d-flex justify-content-between">
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>

        </div>
        <div class="rights">
            <div>
                <p>2021 Delta Digital TV։ Բոլոր իրավունքները պաշտպանված են։
                    Պատրաստված է ITSpace LLC-ի կողմից:
                </p>
            </div>

            <div class="d-flex column justify-content-between">
                <p>Օգտագործման պայմաններ:</p>
                <p>Գաղտնիության պայմաններ:</p>
            </div>
        </div>
    </div>
</footer>