@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.main {
  // width: 95%;
  // margin: 0 auto;

  &-container {
    background-image: url('../../../assets/images/Home page/Сгруппировать\ 6480.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 58vw;
    top: 0;
    left: 0;

    @media screen and (max-width: 1460px) {
      background-size: contain;
    }

    @media screen and (max-width: 1200px) {
      background-image: url('../../../assets/images/Сгруппировать\ 4948.png');
    }

    @media screen and (max-width: 576px) {
      background-size: cover;
      margin-top: 30px;
      height: 90vw;
    }

  }

  .login {
    position: absolute;
    width: 23%;
    left: 16%;
    top: 41%;

    @media screen and (max-width: 1200px) {
      width: 36%;
      left: 26%;
      top: 37%;
    }

    @media screen and (max-width: 576px) {
      width: 56%;
      left: 12%;
      top: 35%;
    }


    &-form {

      &-input {
        height: 53px;
        border-radius: 19px;

        @media screen and (max-width: 1440px) {
          height: auto;
        }

        @media screen and (max-width: 768px) {
          height: 25px;
        }
      }

      .password-input {
        position: relative;
        top: 0;
        left: 0;
      }

      .password-input-eye {
        position: absolute;
        top: 50%;
        left: 85%;
        color: $footer-gray;
        @include adaptiv-font(30, 11);

        @media screen and (max-width: 1200px) {
          top: 48%;
        }

        @media screen and (max-width: 992px) {
          top: 57%;
        }

        @media screen and (max-width: 620px) {
          top: 53%;
        }

      }

      .show-password {
        display: none;
      }

      label {
        letter-spacing: 0px;
        color: $white;
        @include adaptiv-font(30, 11);

        @media screen and (max-width: 620px) {
          margin-bottom: 0;
        }

      }

      .form-group {
        @media screen and (max-width: 992px) {
          margin-bottom: 0;
        }
      }

      span {
        letter-spacing: 0px;
        color: $login-text;
        @include adaptiv-font(21, 10);

      }

      .forgot-password {
        opacity: 0.7;
      }

      .form-check-input {
        width: 21px;
        height: 24px;
        border-radius: 2px;
      }

      .form-check-label {
        margin-left: 12px;
      }


      &-btn {
        background-color: $dark-red;
        letter-spacing: 0px;
        color: $white;
        border-radius: 36px;
        border-color: $dark-red;
        margin-top: 12%;
        @include adaptiv-font(24, 11);
        padding: 0.35em 2.4em;

        @media screen and (max-width: 992px) {
          margin-top: 0;
        }
      }
    }
  }

  .graphs-img {
    width: 71.6%;
    position: absolute;
    left: 68.18%;
  }

  .social-icons {
    float: right;
    font-size: 32px;
    margin-right: 17.5px;

    i {
      cursor: pointer;
      margin: 0 18.5px;
    }
  }

  .packages-wrapper {
    margin-top: 148.5px;

    .packages-background {
      background-image: url('../../../assets/images/Home page/Сгруппировать\ 887.png');
      background-size: inherit;
    }

    .package-title {

      letter-spacing: 0px;
      color: $black;
      text-align: center;
      @include adaptiv-font(78, 20);

    }

    .package {
      background: $light-gray;
      border-radius: 94px;
      width: 568px;
      min-height: 380px;

      color: $light-red;
      text-align: center;
      letter-spacing: 0px;
      padding: 3.9% 4% 4.2% 5.4%;
      margin-bottom: 102px;
      margin-top: 94px;
      @include adaptiv-font(28, 12);


      @media screen and (max-width: 670px) {
        width: 260px;
      }


      p {
        line-height: 2;
      }

      &-btn {
        color: $light-red;
        background-color: $white;
        letter-spacing: 0px;
        border-radius: 40px;
        margin-top: 48px;
        @include adaptiv-font(49, 20);
        padding: 0.35em 2.4em;
      }
    }
  }

  .info {

    background-image: url('../../../assets/images/Home page/Сгруппировать\ 6384.png');
    background-size: 1783px 983px;
    background-repeat: no-repeat;
    margin-top: 100px;
    background-position-y: 42px;
    background-position-x: -88px;

    @media screen and (max-width: 767px) {
      margin-top: 0;
      background-image: none;
    }



    &-container {
      padding-top: 140px;
      width: 85%;
      margin: 0 auto;

    }

    .info-img {
      width: 100%;
    }

    .info-text {
      width: 679px;
      margin-left: 103px;
      letter-spacing: 0px;
      color: #707070;
      @include adaptiv-font(20, 10);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

      @media screen and (max-width: 767px) {
        margin-left: 0;
      }

      &-title1 {
        letter-spacing: 0px;
        @include adaptiv-font(62, 30);
        color: $light-red;
        text-align: center;
        font-family: 'BraindYerevan';
      }

      &-title2 {
        letter-spacing: 0px;
        color: $black;
        font-size: 18px;
        font-family: 'BraindYerevan';
      }
    }
  }



  .channels {
    margin-top: 10vw;

    img {
      @media screen and (max-width: 1200px) {
        width: 50px;
        height: 50px;
      }
    }

    &-container {
      background-image: url('../../../assets/images/Home page/Web\ 1920\ –\ 58.png');
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 3vw;
    }

    &-list {
      padding-top: 11.88%;
      padding-bottom: 24.22%;

      @media screen and (max-width: 1608px) {
        padding-bottom: 0;
      }
    }

    .title {
      color: $light-red;
      @include adaptiv-font(92, 30);
      text-align: center;
    }
  }

  .gallery {
    background-image: url('../../../assets/images/Home page/Сгруппировать\ 269.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: $dark-red;
    @include adaptiv-font(39, 10);
    width: 90%;
    margin: 0 auto;
    text-align: center;

    .title {
      color: $black;
      @include adaptiv-font(144, 50);

    }

    .title-part2 {
      @include adaptiv-font(144, 50);
      color: $light-red;
    }

    .card {

      img {
        @media screen and(max-width: 992px) {
          width: 50%;
        }
      }

      span {
        margin-top: 20px;
      }
    }

    &-icons {
      margin-top: 15vw;

      @media screen and (max-width: 500px) {
        margin-top: 5vw;
      }
    }

    &-options {
      padding: 2% 5%;
      text-align: center;
      margin-top: 10px;

      &-width-sm {
        @media screen and (max-width: 500px) {
          width: 50px;
        }
      }

      @media screen and (max-width: 500px) {
        border-radius: 10px
      }
    }

    .child-channel {
      @media screen and (max-width: 992px) {
        max-width: 124px;
        padding-top: 18%;
      }
    }
  }
}


//////////////   Header styles ///////////////////////////////////////

:host ::ng-deep .header .bg-dark {
  background-color: $dark-red !important;
}

:host ::ng-deep .header .nav-link {
  color: $white-text1;

  &:hover,
  &:focus {
    color: $white-text1;
  }
}

:host ::ng-deep .header .nav-item {
  &:hover {
    border-bottom: 3px solid $white-text1;
  }
}

@media screen and (max-width: 1200px) {

  :host ::ng-deep .header .bg-dark {
    background-color: $white !important;
  }

  :host ::ng-deep .header .nav-link {
    color: $header-black-text;

    &:hover,
    &:focus {
      color: $header-black-text;
    }
  }

  :host ::ng-deep .header .nav-item {
    &:hover {
      border-bottom: 3px solid $light-red !important;
    }
  }

  :host ::ng-deep .triangle-container {
    position: relative;
    background: $dark-red;
    box-shadow: 0 .1em 1em rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    margin-top: -18px;
    width: 4em;
    height: 4em;
  }

  :host ::ng-deep .logo-traingle {
    position: absolute;
    width: 2em;
    height: 2em;
    clip: rect(2.6em, 6em, 7em, -3em);
    top: 24%;
    left: 27%;


    &:before {
      content: "";
      display: block;
      margin: -1em;
      background: $dark-red;
      box-shadow: 0.01em 0.01em 1em rgba(0, 0, 0, 0.1);
      transform: scale(0.8, 1) rotate(45deg);
      width: 4.35em;
      height: 5.35em;

    }
  }

  :host ::ng-deep .logo {
    z-index: 100;
    padding: 30px 17px;
  }

  :host ::ng-deep .header .header-logo {
    img {
      width: 100% !important;
    }

  }

  :host ::ng-deep .header .header-search-btn {
    color: $light-red !important;
  }
}

:host ::ng-deep .header .header-profile-btn {
  background-color: white;
}

/////////////////////////////////////////////////////


///////////////////// Questions style ///////////////////////////

:host ::ng-deep .questions-wrapper {
  background-image: url("../../../assets/images/Home page/Сгруппировать 6482.png") !important;
  // margin-top: 200px;
  background-size: contain !important;
  background-position: top !important;
  margin-top: 16vw;
  margin-bottom: 10vw;

  .text {
    display: none;
  }

  .question-title {
    background-image: none !important;
  }


  .questions {
    .question {
      background-color: $footer-gray !important;
    }

  }

}


//////////////////////////////////////////////////////////////
