<app-header></app-header>


<div class="main">
    <div class="main-container">
        <div class="login">
            <form [formGroup]="loginForm" *ngIf="!isAuthenticated" class="login-form">
                <div class="form-group">
                    <label>Էլ․ հասցե</label>
                    <input type="email" class="form-control login-form-input" aria-describedby="emailHelp"
                        formControlName="email" [ngClass]="(loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
                                            && ( loginForm.get('email')?.hasError('required') 
                                            || loginForm.get('email')?.hasError('email')) ? 'is-invalid' : '' ">
                </div>
                <div class="form-group">
                    <label>Գաղտնաբառ </label>
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control login-form-input"
                        formControlName="password">
                    <i (click)="showPasswordToogle()" class="far fa-eye"
                        [ngClass]="!showPassword ? 'show-password': '' "></i>
                    <i (click)="showPasswordToogle()" class="far fa-eye-slash"
                        [ngClass]="showPassword ? 'show-password': '' "></i>
                </div>
                <div class="form-check d-flex justify-content-between">
                    <div>
                        <input [checked]="isChecked" (change)="rememberPassword()" type="checkbox"
                            class="form-check-input-sm">
                        <span class="form-check-label-sm">Հիշել</span>
                    </div>
                    <span class="forgot-password">Մոռացե՞լ եք գաղտնաբառը</span>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary login-form-btn btn-click-style" (click)="login()"
                        [ngClass]="loginForm.valid ? '' : 'disabled'">Մուտք
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="social-icons">
        <i class="fab fa-youtube"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>

    <section class="packages-wrapper">
        <p class="package-title">ԲԱԺԱՆՈՐԴԱԳՐՈՒԹՅԱՆ ՓԱԹԵԹՆԵՐ</p>

        <div class="row packages-background d-flex justify-content-around align-items-center">
            <div class="package">
                <p>Դրամաներ <br>1000 դրամ/ամիս
                    1 ամիս բաժանորդագրություն <br>
                    Տեսադարան (կորեական սերալներ) <br>
                    Կորեական դրամաների հեռուստաալիք <br>
                    Shant Premium փաթեթ <br>
                    Կրթական նյութեր <br>
                    Ռուսական ալիքներ <br>
                    Արտասահմանյան ալիքներ
                </p>
                <button type="submit" class="btn package-btn btn-click-style">Ընտրել</button>
            </div>
            <div class="package">
                <p>Դրամաներ <br>1000 դրամ/ամիս
                    1 ամիս բաժանորդագրություն <br>
                    Տեսադարան (կորեական սերալներ) <br>
                    Կորեական դրամաների հեռուստաալիք <br>
                    Shant Premium փաթեթ <br>
                    Կրթական նյութեր <br>
                    Ռուսական ալիքներ <br>
                    Արտասահմանյան ալիքներ
                </p>
                <button type="submit" class="btn package-btn btn-click-style">Ընտրել</button>
            </div>
            <div class="package">
                <p>Դրամաներ <br>1000 դրամ/ամիս
                    1 ամիս բաժանորդագրություն <br>
                    Տեսադարան (կորեական սերալներ) <br>
                    Կորեական դրամաների հեռուստաալիք <br>
                    Shant Premium փաթեթ <br>
                    Կրթական նյութեր <br>
                    Ռուսական ալիքներ <br>
                    Արտասահմանյան ալիքներ
                </p>
                <button type="submit" class="btn package-btn btn-click-style">Ընտրել</button>
            </div>
        </div>
    </section>
    <section  *ngIf="isAuthenticated">
        <div class="channels">
            <div class="d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/264.png" alt="">
                <span class="title">Հեռուստաալիքներ</span>
            </div>
            <div class="channels-container">
                <div class="channels-list">
                    <app-channels-list></app-channels-list>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="info">
            <div class="info-container  row d-flex justify-content-center align-items-center">
                <div>
                    <img class="info-img" src="../../../assets/images/Home page/57297.png" alt="">
                </div>
                <div class="info-text">
                    <p class="info-text-title1">ԻՆՉՊԵՍ ՕԳՏՎԵԼ</p>
                    <div>
                        <p class="info-text-title2">Ինչպես օգտվել</p>
                        <p>ինչը մի անհայտ տպագրիչի կողմից տարբեր տառատեսակների օրինակների գիրք ստեղծելու ջանքերի
                            արդյունք է:
                        </p>
                    </div>
                    <div>
                        <p class="info-text-title2">Ինչպես օգտվել</p>
                        <p>ինչը մի անհայտ տպագրիչի կողմից տարբեր տառատեսակների օրինակների գիրք ստեղծելու ջանքերի
                            արդյունք է:
                        </p>
                    </div>
                    <div>
                        <p class="info-text-title2">Ինչպես օգտվել</p>
                        <p>ինչը մի անհայտ տպագրիչի կողմից տարբեր տառատեսակների օրինակների գիրք ստեղծելու ջանքերի
                            արդյունք է:
                        </p>
                    </div>
                    <div>
                        <p class="info-text-title2">Ինչպես օգտվել</p>
                        <p>ինչը մի անհայտ տպագրիչի կողմից տարբեր տառատեսակների օրինակների գիրք ստեղծելու ջանքերի
                            արդյունք է:
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section  *ngIf="isAuthenticated">
        <div class="gallery">
            <span class="title">ՏԵՍԱ<span class="title-part2">ԴԱՐԱՆ</span></span>
            <div class="gallery-icons row justify-content-around col-xs">
                <div class="card gallery-options">
                    <div class="col-xs-1 gallery-options-width-sm">
                        <img src="../../../assets/images/1257.png" alt="">
                        <div>
                            <span>Սերիալներ</span>
                        </div>
                    </div>
                </div>
                <div class="card gallery-options ">
                    <div class="gallery-options-width-sm col-xs-1">
                        <img src="../../../assets/images/1289.png" alt="">
                        <div>
                            <span>Ֆիլմեր</span>
                        </div>
                    </div>
                </div>
                <div class="card gallery-options ">
                    <div class="col-xs-1 gallery-options-width-sm">
                        <img src="../../../assets/images/1275.png" alt="">
                        <div>
                            <span>Հաղորդումներ</span>
                        </div>
                    </div>
                </div>
                <div class="card gallery-options ">
                    <div class="child-channel col-xs-1 gallery-options-width-sm">
                        <img src="../../../assets/images/1276.png" alt="">
                        <div>
                            <span>Մանկական</span>
                        </div>
                    </div>
                </div>
                <div class="card gallery-options ">
                    <div class="col-xs-1 gallery-options-width-sm">
                        <div>
                            <img src="../../../assets/images/3404.png" alt="">
                        </div>
                        <div>
                            <span>Իմ Ցանկը</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <app-questions-list></app-questions-list>
    </section>
</div>
<button (click)="getChannels()">GET CHANNELS</button>