@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.questions-container {
  background-color: #DCDCDC;
}

:host ::ng-deep .header {
  &-profile-img {
    background-image: url('../../../assets/images/Сгруппировать\ 3394.png') !important;
  }

  .bg-dark {
    background-color:$question-bg !important;

  }

  .nav-link {
    color: $black;

    &:hover,
    &:focus {
      color: $black;
    }

    &-active {
      border-bottom: 3px solid $light-red !important;
    }
  }

  .nav-span {
    @media screen and (max-width: 1200px) {
      color: $white !important;
    }
  }

  &-profile-btn {
    background-color: $white !important;
  }

  &-search-btn {
    color: $black !important;
  }

  .triangle-container {
    background-image: url("../../../assets/images/Контур\ 35561.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 153px;
    width: 127px;
    position: relative;
    top: 0;
    left: 0;
    margin-top: -26px;

    @media screen and (max-width: 1200px) {
      height: 75px;
      width: 75px;
      position: absolute;
      margin-left: 45px;
      margin-top: 0;
    }

    img {
      position: absolute;
      top: 16%;
      left: 12%;
    }
  }

  .collapse {
    align-items: flex-start;
  }

  .register-item {
    background-color: $question-bg !important;
  }
  .register-link {
    color: $black !important;
  }



  .nav-second-part {
    top: 4%;
  }
  
  .searchbox__icon {
    color: $black !important;
  }

}
