@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/variables.scss';


.contact {

  .title {
    width: 70%;

    &-part1 {
      color: $black;
      @include adaptiv-font(79, 40);
      position: relative;
    }

    &-part2 {
      color: $light-red;
      @include adaptiv-font(39, 20);
      position: absolute;
      top: 2em;
      left: 6em;
    }

    hr {
      display: block;
      height: 2px;
      border: 0;
      border-top: 1px solid $light-red;
      margin: 2em 0;
      padding: 0;
    }
  }

  &-container {
    width: 80%;
    margin: 62px auto 0 auto;
  }



  .form-control {
    background-color: $gray-input-bg;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 18px;


    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $gray-placeholder;
      /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $gray-placeholder;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $gray-placeholder;
    }
  }

  .contact-btn {
    background-color: $black-text;
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
    color: $white;
    border-radius: 37px;
    font-size: 31px;
    @include adaptiv-font(31, 20);
    margin-bottom: 10px;
  }

  .btn {
    padding: .75rem .75rem;
  }

  .form-control-lg {
    padding: 1.25rem 1rem;
  }

  .contact-info {
    margin-left: 30px;

    img {
      width: 100%;
    }
  }

  .contact-info-text {

    &-title {
      letter-spacing: 1.29px;
      color: #090908;
      text-align: center;
      @include adaptiv-font(43, 25);
    }

    letter-spacing: 0.61px;
    color: $light-red;
    font-size: 20px;

    i {
      font-size: 24px;
      margin-right: 35px;
    }

    div {
      margin-top: 40px;

      &:last-child {
        margin-bottom: 70px;

      }
    }
  }
}

:host ::ng-deep .header {

  .bg-dark {
    background-color: transparent !important;

    @media screen and (max-width: 1200px) {
      color: transparent !important;
    }
  }

  .nav-link {
    color: $black;

    &:hover,
    &:focus {
      color: $black;
    }

    &-active {
      border-bottom: 3px solid #E22727 !important;
    }
  }

  .nav-span {
    @media screen and (max-width: 1200px) {
      color: $light-red !important;
    }
  }

  .profile-btn {
    background-color: #E2E2E2 !important;
  }

  &-profile-img {
    background-image: url('../../../assets/images/Сгруппировать\ 3394.png') !important;
  }

  .triangle-container {
    background-image: url("../../../assets/images/red-triangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 153px;
    width: 127px;
    position: relative;
    top: 0;
    left: 0;
    margin-top: -26px;

    @media screen and (max-width: 1200px) {
      height: 75px;
      width: 75px;
      position: absolute;
      margin-left: 45px;
      margin-top: 0;
    }

    img {
      position: absolute;
      top: 16%;
      left: 12%;
    }
  }


}


// :host ::ng-deep .header .nav-item {
//   &:hover {
//     border-bottom: 3px solid $light-red !important;
//   }

// }



.map-frame {
  height: 29.74vw;
  padding: 0;

}

#map {
  height: 29.74vw;

  @media screen and (max-width: 768px) {
    height: 60vw;



  }
}

.phone-container {
  background-color: #F4F4F4;
  letter-spacing: 0.85px;
  color: #030303;
  @include adaptiv-font(25, 12);
  min-height: 192px;
  .center {
    position: absolute;
    top: 30%;
    left: 30%;
  }

  .first-phone {
    margin-bottom: 45%;
  }

  i {
    color: $dark-red;
    @include adaptiv-font(50, 15);
    margin-right: 10px;

  }

}




::ng-deep .custom-div-icon {
  i {

    @include adaptiv-font(100, 40);
    color: $dark-red;

  }
}

:host ::ng-deep .collapse {
  align-items: flex-start;
}

:host ::ng-deep  .nav-second-part {
  top: 4%;
}

:host ::ng-deep .searchbox__icon {
  color: $black !important;
}