@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 2px solid rgba(0, 0, 0, .2);
}

.registration {

  margin-bottom: 20px;

  @media screen and (max-width: 768px) {
    margin-top: 10%;
  }

  &-wrapper {
    background-image: url('../../../assets/images/Сгруппировать\ 6455.png');
    background-size: cover;
  }

  img {
    width: 100%;
  }

  &-container {
    background-color: $light-red;
    border-radius: 98px;
    width: 100%;
    padding: 3.1vw 2vw;

    @media screen and (max-width: 420px) {
      width: 85%;
      margin: 0 auto;
      padding: 3.1vw 0;

    }
  }

  &-title {
    color: $white-text1;
    text-align: center;
    @include adaptiv-font(39, 18);

  }

  &-btn {
    border-radius: 40px;
    margin-top: 2.1vw;
    @include adaptiv-font(23, 16);
    padding: 0.57em 1.74em;
  }

  label {
    text-align: left;
    letter-spacing: 0px;
    color: $white;
    font-family: 'BraindYerevan';
    @include adaptiv-font(22, 12);

  }

  input {
    border-radius: 39px;
    border: none;
    background-color: transparent;
    padding-left: 27px;
    

    &:focus {
      outline: none;
    }

  }

  .input-group {
    background-color: #fff;
    border-radius: 39px;
    position: relative;
    top: 0;
    left: 0;
  }


  .input-logo {
    color: white;
    background-color: red;
    @include adaptiv-font(13, 7);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 7px;
    left: 5px;

  }

  .input-logo-calendar {
    color: white;
    background-color: red;
    @include adaptiv-font(13, 7);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 7px;
    right: 5px;
  }

  
  input {
    @include adaptiv-font (18, 12);
  

    &:active,
    &:visited {
      outline: none;
    }
  }

 
  .form-control:focus {
    border-color: none;
    outline: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 576px) {

  ::-webkit-input-placeholder {
    font-size: 10px !important;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 10px !important;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 10px !important;
  }


}


:host ::ng-deep .header .bg-dark {
  background-color: $white !important;
}

:host ::ng-deep .header .nav-link {
  color: $light-red;

  &:hover,
  &:focus {
    color: $black;
  }
}

:host ::ng-deep .header .register-link {

  &:hover,
  &:focus {
    color: $black !important;
  }
}

:host ::ng-deep .header .nav-item {
  // &:hover {
  //   border-bottom: 3px solid $black-text !important;
  // }

}

:host ::ng-deep  .triangle-container {
  background-image: url("../../../assets/images/red-triangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 153px;
  width: 127px;
  position: relative;
  top: 0;
  left: 0;
  margin-top: -26px;

  @media screen and (max-width: 1200px) {
    height: 75px;
    width: 75px;
    position: absolute;
    margin-left: 45px;
    margin-top: 0;
  }

  img {
    position: absolute;
    top: 16%;
    left: 12%;
  }
}



:host ::ng-deep .header .collapse {
  align-items: flex-start;
}
:host ::ng-deep  .nav-second-part {
  top: 4%;
}

:host ::ng-deep .searchbox__icon {
  color: $black !important;
}

