<div class="device">
    <div class="card device-container">
        <div class="d-flex align-items-center">
            <div class="device-back-icon">
                <i class="fas fa-arrow-left" (click)="closeDevice()"></i>
            </div>
            <span class="device-title">Սարքավորումներ</span>
        </div>
        <div class="m-top">
            <span class="device-name">Օգտագործվող սարքավորումներ</span>
        </div>
        <div class="card device-list">
            <div class="d-flex align-items">
                <i class="fas fa-mobile-alt phone-icon"></i>
                <span class="device-name">HTC Desire 12</span>
            </div>
        </div>
    </div>
</div>