<div class="password">
    <div class="card password-container">
        <i class="fas fa-times-circle close-btn" (click)="close()"></i>
        <div class="main-content">
            <div class="title">Փոխել գաղտնաբառը</div>
            <div class="msg">Մուտքագրեք Ձեր ներկայիս գաղտնաբառը</div>
            <form [formGroup]="changePasswordGroup">
                <!-- <div class="title-2">
                    Ձեր Գաղտնաբառը
                </div> -->
                <div class="input-group">
                    <input [type]="showPassword ? 'text' : 'password'"
                        class="form-control login-form-input password-input input-lg" formControlName="password"
                        placeholder="Ձեր գաղտնաբառը">
                    <i (click)="showPasswordToogle()" class="far fa-eye password-input-eye"
                        [ngClass]="!showPassword ? 'show-password': '' "></i>
                    <i (click)="showPasswordToogle()" class="far fa-eye-slash password-input-eye"
                        [ngClass]="showPassword ? 'show-password': '' "></i>
                </div>
                <div class="input-group">
                    <input [type]="showNewPassword ? 'text' : 'password'"
                        class="form-control login-form-input password-input input-lg" formControlName="newPassword"
                        placeholder="Նոր գաղտնաբառ">
                    <i (click)="showNewPasswordToogle()" class="far fa-eye password-input-eye"
                        [ngClass]="!showNewPassword ? 'show-password': '' "></i>
                    <i (click)="showNewPasswordToogle()" class="far fa-eye-slash password-input-eye"
                        [ngClass]="showNewPassword ? 'show-password': '' "></i>
                </div>
                <div class="text-center">
                    <button [ngClass]="changePasswordGroup.valid ? 'btn-click-style' : 'disabled-btn'" (click)="changePassword()"
                        class="btn submit-btn ">Հաստատել</button>
                </div>
            </form>
        </div>
    </div>
</div>