<div class="password">
    <div class="card password-container">
        <i class="fas fa-times-circle close-btn" (click)="close()"></i>
        <div class="main-content">
            <div class="title">Փոխել գաղտնաբառը</div>
            <div class="msg">Մուտքագրեք Ձեր ներկայիս գաղտնաբառը</div>
            <div class="title-2">
                Ձեր Գաղտնաբառը
            </div>
            <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control login-form-input password-input input-lg"
                    formControlName="password" placeholder="Գաղտնաբառ">
                <i (click)="showPasswordToogle()" class="far fa-eye password-input-eye"
                    [ngClass]="!showPassword ? 'show-password': '' "></i>
                <i (click)="showPasswordToogle()" class="far fa-eye-slash password-input-eye"
                    [ngClass]="showPassword ? 'show-password': '' "></i>
            </div>
            <div class="text-center">
                <button class="btn submit-btn btn-click-style">Հաստատել</button>
            </div>
        </div>
    </div>
</div>