// layout main colors
$white: #FFFFFF;
$black:  #000000;
$light-red: #E82A2A;
$dark-red: #D71C1C;
$burgundi:#B72222;
$light-gray: #ECECEC;
$footer-gray: #BEBEBE;



//text & logo colors
$white-text1 : #FDFDFD;
$white-text2: #FFFCFC;
$gray-text: #707070;
$white-logo: #F9F9F9;


// Font sizes
$fs4: 4px;
$fs6: 6px;
$fs8: 8px;
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs17: 17px;
$fs18: 18px;
$fs20: 20px;
$fs26: 26px;
$fs28: 28px;
$fs32: 32px;
$fs36: 36px;
