// layout main colors
$white: #FFFFFF;
$black:  #000000;
$light-red: #E82A2A;
$dark-red: #D71C1C;
$burgundi:#B72222;
$dark-burgundi: #BE1E2D;
$light-gray: #ECECEC;
$footer-gray: #BEBEBE;
$menu-gray: #cecece;



//text & logo colors
$white-text1 : #FDFDFD;
$white-text2: #FFFCFC;
$black-text: #090909;
$gray-text: #707070;
$white-logo: #F9F9F9;
$login-text: #090808;
$header-black-text: #030303;


// Font sizes
$fs4: 4px;
$fs6: 6px;
$fs8: 8px;
$fs10: 10px;
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs17: 17px;
$fs18: 18px;
$fs22: 22px;
$fs23: 23px;
$fs28: 28px;
$fs32: 32px;
$fs36: 36px;
$fs39: 39px;
