<div class="about-us">
    <div class="about-us-header">
        <app-header></app-header>
    </div>
    <div class="about-us-container">
        <section>
            <div class="about-us-content">
                <div class="title text-center">
                    Մեր Մասին
                </div>
                <div class="text">
                    Հայտնի է, որ ընթերցողը, կարդալով հասկանալի տեքստ, չի կարողանա կենտրոնանալ տեքստի ձևավորման վրա:
                    Lorem
                    Ipsum օգտագործելը բացատրվում է նրանով, որ այն բաշխում է բառերը քիչ թե շատ իրականի նման, ի
                    տարբերություն «Բովանդակություն, բովանդակություն» սովորական կրկննության, ինչը ընթերցողի համար
                    հասկանալի
                    է: Շատ համակարգչային տպագրական ծրագրեր և ինտերնետային էջերի խմբագրիչներ այն օգտագործում են որպես
                    իրենց
                    ստանդարտ տեքստային մոդել, և հետևապես, ինտերնետում Lorem Ipsum-ի որոնման արդյունքում կարելի է
                    հայտնաբերել էջեր, որոնք դեռ նոր են կերտվում:
                    Հայտնի է, որ ընթերցողը, կարդալով հասկանալի տեքստ, չի կարողանա կենտրոնանալ տեքստի ձևավորման վրա:
                    Lorem
                    Ipsum օգտագործելը բացատրվում է նրանով, որ այն բաշխում է բառերը քիչ թե շատ իրականի նման, ի
                    տարբերություն «Բովանդակություն, բովանդակություն» սովորական կրկննության, ինչը ընթերցողի համար
                    հասկանալի
                    է: Շատ համակարգչային տպագրական ծրագրեր և ինտերնետային էջերի խմբագրիչներ այն օգտագործում են որպես
                    իրենց
                    ստանդարտ տեքստային մոդել, և հետևապես, ինտերնետում Lorem Ipsum-ի որոնման արդյունքում կարելի է
                    հայտնաբերել էջեր, որոնք դեռ նոր են կերտվում:
                </div>
                <div class="social-icons">
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </section>
        <section>
            <div class="title-partner text-center">
                Մեր Գործընկերները
            </div>
            <div class="logo-partners  d-flex justify-content-center">
                <img src="../../../assets/images/logo-partner.png" alt="">
                <img src="../../../assets/images/logo-partner.png" alt="">
                <img src="../../../assets/images/logo-partner.png" alt="">
            </div>
        </section>
        <section>
            <div class="subscription-bg d-flex flex-column  justify-content-end align-items-center ">
              
            </div>
            <div class="subscription d-flex flex-column align-items-center">
                <div class="subscription-text text-center">
                    Այս տեքստը ոչ միայն կարողացել է գոյատևել հինգ դարաշրջան, այլև ներառվել է էլեկտրոնային տպագրության
                    մեջ` մնալով էապես անփոփոխ:
                </div>
                <button class="subscription-btn btn">
                        ԲԱԺԱՆՈՐԴԱԳՐՈՒԹՅԱՆ ՓԱԹԵԹՆԵՐ
                </button>
            </div>
        </section>
    </div>
</div>