<app-header></app-header>

<div class="profile">
    <div class="profile-container">
        <div class="user d-flex">
            <div class="user-img">
                <img src="../../../assets/images/Сгруппировать 3394.png" alt="">
            </div>
            <div>
                <span class="user-name">Անուն Ազգանուն</span>
                <p class="user-email">Alicmasakda@gmail.com</p>
            </div>
        </div>
        <router-outlet></router-outlet>
        <!-- <div class=" row  d-flex justify-content-around">
            <div class="col-lg-5">
                <router-outlet></router-outlet>
            </div>
            <div class="right-part col-lg-6">
                <img *ngIf="!isInDevice" src="../../../assets/images/Сгруппировать 6339.png" alt="">
            </div>
        </div> -->
    </div>
</div>