<app-header></app-header>

<div class="profile">
    <div class="profile-container">
        <div class="user d-flex">
            <div class="user-img">
                <img src="../../../assets/images/Сгруппировать 3394.png" alt="">
            </div>
            <div>
                <span class="user-name">Անուն Ազգանուն</span>
                <p class="user-email">Alicmasakda@gmail.com</p>
            </div>

        </div>
        <div class="operations  row  d-flex justify-content-around ">
            <div class="operations-container text col-lg">
                <div class="card flex-row">
                    <i class="fas fa-mobile-alt phone-icon"></i>
                    <span class="text-device">Սարքավորումներ</span>
                    <i class="fas fa-chevron-right text-arrow"></i>
                </div>
                <div class="card flex-row">
                    <span class="text-config">Կարգավորումներ</span>
                    <i class="fas fa-chevron-right text-arrow"></i>
                </div>
                <div class="card flex-row">
                    <span class="text-exit">Ելք համակարգից</span>
                    <i class="fas fa-sign-out-alt text-arrow"></i>
                </div>
                <div class="card flex-row red-card">
                    <span class="text-delete">Ջնջել Հաշիվը</span>
                    <i class="fas fa-sign-out-alt white-arrow"></i>
                </div>
            </div>
            <div class="right-part col-lg">
                <img src="../../../assets/images/Сгруппировать 6339.png" alt="">

            </div>

        </div>
    </div>
</div>

