<app-header></app-header>
<div class="package">
    <div class="package-container">
        <div class="package-details">
            <div class="title">Փաթեթի Անունը</div>
            <div class="card">
                <div class=" card-body">
                    <div>
                        <span class="devices-text">Սարքերի քանակ</span>

                    </div>
                    <div>
                        <span class="devices-number">2</span>
                    </div>
                    <div>
                        <span class="gallery-text">ՏԵՍԱԴԱՐԱՆԸ ՀԱՍԱՆԵԼԻ Է</span>
                    </div>
                    <div class="d-flex justify-content-around">
                        <span class="channel-text">ԱԼԻՔ</span>
                        <span class="channel-text">ԱԼԻՔ</span>
                        <span class="channel-text">ԱԼԻՔ</span>
                    </div>

                </div>

            </div>
            <div class="package-buy text-center ">
                <button class="package-buy-btn btn btn-click-style"> <span>ԳՆԵԼ</span>
                    <br> <span class="package-cost">5600դրամ</span></button>
            </div>
        </div>

    </div>
</div>