<app-header></app-header>
<div class="channel">
    <div class="channel-container">
        <div class="center-content">
            <div class="player mx-auto">
                <vg-player class="player ">
                    <video id="singleVideo" preload="auto" width='150' height='100' controls>
                        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                    </video>
                </vg-player>
            </div>
            <div class="list-container">
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
                <div class="list d-flex">
                    <p class="time">14:40</p>
                    <p class="name">Հաղորդման անվանում</p>
                </div>
            </div>
           

        </div>
      
    </div>
</div>