/* You can add global styles to this file, and also import other style files */

// @import './assets/styles/variables.scss';
@import '../node_modules/leaflet/dist/leaflet.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'BraindYerevan';
}

html, body {
  width: 100%;
  overflow-x: hidden;
}




@font-face {
  font-family: "BraindYerevan";
  src: url("./assets/fonts/BraindYerevan.ttf")format("truetype"),
    url("./assets/fonts/BraindYerevan.woff")format("woff"),
    url("./assets/fonts/BraindYerevan.woff2")format("woff2");
  font-weight: normal;
  font-style: normal;
}

.btn-click-style {
  &:focus,
  &:active,
  &:hover {
    outline: none !important;
    box-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  //animation while click

  &::after {
    transition: opacity 1s;
  }

  &:active {
    transform: scale(.96);
  }

  &::before {
    transition: opacity .5s;
  }

}



//remove routerLink automatically added outline 
*[ng-reflect-router-link]:focus {
  outline: none;
}


.sucsses-modal {
  max-width: 43.5%;
  @media screen and (max-width: 576px){ 
    max-width: none;
  }
}

.modal-lg {
  box-shadow: 0px 20px 20px #00000029;
}


// $maxWidth: 1920;

// @mixin adaptiv-font($pcSize, $mobSize) {
//  $addSize: $pcSize - $mobSize;
//  $maxWidth: $maxWidth - 320;
//  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
// }

